/*
!.gitignore
!wp-content
wp-content/*
!wp-content/themes
wp-content/themes/*
!wp-content/themes/poetry-garden
!wp-content/themes/poetry-garden-roots
!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/pty-gdn-syndication
!wp-content/plugins/bp-custom.php

