body .edit-post-visual-editor__content-area
 {
    background: var(--site-background);
}

body .edit-post-visual-editor__content-area * {
    font-family: var(--font-family);
}

body .editor-styles-wrapper {
    background-color: transparent !important;
}

body .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper { 
    margin-top: 0;
}

html body .editor-styles-wrapper h1 {
    font-family: unset !important;
    color: unset !important;
    line-height: unset !important;
}

body .edit-post-visual-editor__content-area .is-desktop-preview{
    margin: 5% auto !important;
    background: var(--page-background) !important;
    padding: 6%;
    box-sizing: border-box;
    width: 60% !important;
    height: unset !important;
}